<div class="navbar">
    <div class="navlogo">
      <div class="logo border">
        <img src="./../../assets/logo.png" alt="">
      </div>
    </div>
    <div class="navadd border">
      <p class="addfirst icon">Deliver to</p>
      <div class="addicon">
        <i class="fa-solid fa-location-dot icon"></i>
        <p class="addsecond icon">India</p>
      </div>
    </div>

    <div class="nav-search">
      <select class="search-option1">
        <option value="All" class="search-option2">All</option>
      </select>
      <input type="text" placeholder="Search Spark" class="search-input">
      <div class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

    </div>
    <div class="languageoption border">
      <select class="lanoption">
        <option value="lan">EN</option>
      </select>
    </div>
    <div class="sign border">
      <a href="Login">
        <p class="hello">
          Hello, sign in
        </p>
        <div class="account">
          Account & Lists
        </div>
      </a>
    </div>
    <div class="box6 border" onclick="window.location.href='Order Summary/index.html'">
      <p class="return">
        Returns
      </p>
      <p class="order">
        & Orders
      </p>
    </div>
    <div class="cart border" onclick="window.location.href='cart/index.html'">
      <i class="fa-solid fa-cart-shopping"></i>
      cart
    </div>
  </div>
  <div class="second-nav">
    <div class="panel-ops">
      <p class="ptag border">Today's Deals</p>
      <p class="ptag border">Customer Service</p>
      <p class="ptag border">Registry</p>
      <p class="ptag border">Gift Cards</p>
      <p class="ptag border"> Sell</p>
    </div>
    <div class="deals">
      <p>Shop deals in Electronics</p>
    </div>
  </div>
