<header>
    <div class="title">
        <h1>Travel Planner</h1>
    </div>
    <div class="navbar">
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="MyPlans">My Plans</a></li>
            <li><a href="#login">Login</a></li>
            <li><a href="#signup">Sign up</a></li>
        </ul>
    </div>
</header>
 <div class = "slogan">
        <h2>"Your Ultimate Travel Companion: Plan, Track, Explore!"</h2>
</div>
      
<app-intro-left></app-intro-left>
<div class="create-button">
    <a href="YourPlan"><button><h2>Create</h2></button></a>
</div>
