button{
    border-radius: 25px;
    background-color: #005C90;
    color: white;
    white-space: nowrap;
    height: fit-content;
    border-color: white;	
    padding:1em;
   
}
.intro-right{
    text-align:center;
    margin-bottom:1em;
}