<div class="member-det">
    <div class="member-det-head">
      <h3>Travellers Details</h3>
    </div>
    <div class="members-form">
      
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
        <label for="mem-type">Member Type</label>
        <input type="text" id="mem-type" name="mem-type" />
        <label for="age">Age</label>
        <input type="text" id="age" name="age" />
        <button (click)="removeComponent()"><i class="fa-solid fa-minus"></i></button>
    </div>
  </div>
