<div class="intro-left1">
    <div class="intro-big1">
      <h2>Plan</h2>
    </div>
    <div class = "intro-para1">
          Make your personal plans for your trip. Add places, checklist, notes and much more...
    </div>
</div>
<app-intro-right></app-intro-right>


    <div class="intro-left2">
        <div class="intro-big2">
          <h2>Explore</h2>
        </div>
        <div class = "intro-para2">
            Whether you're a seasoned traveler or embarking on your first adventure, we've got you covered every step of the way.
        </div>
