.password-container{
    justify-content: center;
    width: 18rem;
    margin: 0 auto; /* Centering the container horizontally */
}

.pass{
    text-align: left;
    font-size: 1.75rem;
}
.pass-content{
    text-align: left;
    margin-top: -5%;
    font-size: 0.80em;
}

div .custom {
    justify-content: center;
    width: 100%;
}
.c1{
    width: 120%;
    font-size: 0.75rem;
    color: var(--tertiary-color);
    margin-top: -3%;
}
