<div class="password-container">
    <div class="pass-container">
        <div class="login-box">
            <h2 class="pass">Password assistance</h2>
            <p class="pass-content">Enter the email address or mobile phone number associated with your Amazon
                account.</p>
            <form>
                <h5 class="sign-in">Email or mobile phone number</h5>
                <input type="text" placeholder="Email" required>
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
    <div class="custom">
        <p>Has your email address or mobile phone number changed?</p>
        <p class="c1">If you no longer use the e-mail address associated with your Spark account, you may
            contact <a href="" class="anchor-tag">Customer Service</a> for help restoring access to your account.

        </p>
    </div>
</div>
