<div class="detail-block">
    <div class="detail">
      <div class="detail-block-title">
        <i class="fa-sharp fa-solid fa-location-dot"></i>
        <h2>TITLE</h2>
      </div>
      <div class="detail-block-options">
        <ul>
          <li><a href="#duration">Duration</a></li>
          <li><a href="#totalexpenses">Total Expenses</a></li>
          <li><a href="#budget">Budget</a></li>
        </ul>
      </div>
    </div>
    <div class="detail-block-notes">
      <h4>Notes</h4>
    </div>
  </div>
  
