<div class="card-container">
    <div class="image-box">
      <img src="./../../assets/arduino.png  " alt="Mouse"/>
    </div>
    <div class="content-box">
      <div class="product-name">
        <h4 class="pd-1" onclick="window.location.href='#'">
          Dell WM118 Wireless Mouse, 2.4 Ghz with USB Nano Receiver, Optical Tracking, 12-Months Battery Life, ...
        </h4>
      </div>
      <div class="pd-l-1">
        <span class="rating-stars">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
        <span class="rating-details">
          <i class="fa-solid fa-chevron-down"></i>
        </span>
        <span class="review-number">
          <a href="" class="anchor-tag">12,215</a>
        </span>
      </div>
      <div class="pd-1">
        <div class="inline">
          <sup>₹</sup><span class="text-xxl">649</span>
        </div>
        <div class="inline">
          <span class="text-sm">M.R.P: <s>₹1,299</s></span>
        </div>
        <div class="inline">
          <span class="text-md">(50% off)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="image-box">
      <img src="./../../assets/zimo.png" alt="Mouse"/>
    </div>
    <div class="content-box">
      <div class="product-name">
        <h4 class="pd-1" onclick="window.location.href='#'">
          Zimo Aeroflex Bluetooth 5.2 Wireless in-Ear headphones with 18hrs Playtime, Deep bass, HD calls, Du...
        </h4>
      </div>
      <div class="pd-l-1">
        <span class="rating-stars">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
        <span class="rating-details">
          <i class="fa-solid fa-chevron-down"></i>
        </span>
        <span class="review-number">
          <a href="" class="anchor-tag">12,215</a>
        </span>
      </div>
      <div class="pd-1">
        <div class="inline">
          <sup>₹</sup><span class="text-xxl">399</span>
        </div>
        <div class="inline">
          <span class="text-sm">M.R.P: <s>₹1,499</s></span>
        </div>
        <div class="inline">
          <span class="text-md">(73% off)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="image-box">
      <img src="./../../assets/laptop.png" alt="Mouse"/>
    </div>
    <div class="content-box">
      <div class="product-name">
        <h4 class="pd-1" onclick="window.location.href='#'">
          ASUS vivobook pro 15 OLED, AMD Ryzen 7 5800H, 15.6" (39.6) OLED, Thin & Light laptop NVIDIA GeForce...
        </h4>
      </div>
      <div class="pd-l-1">
        <span class="rating-stars">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
        <span class="rating-details">
          <i class="fa-solid fa-chevron-down"></i>
        </span>
        <span class="review-number">
          <a href="" class="anchor-tag">12,215</a>
        </span>
      </div>
      <div class="pd-1">
        <div class="inline">
          <sup>₹</sup><span class="text-xxl">71,690</span>
        </div>
        <div class="inline">
          <span class="text-sm">M.R.P: <s>₹1,43,280</s></span>
        </div>
        <div class="inline">
          <span class="text-md">(50% off)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="image-box">
      <img src="./../../assets/junc-box.png" alt="Mouse"/>
    </div>
    <div class="content-box">
      <div class="product-name">
        <h4 class="pd-1" onclick="window.location.href='#'">
          GM 3060 E-Book 4 + 1 Power Strip Red & White Color 250 Volts with 4 sockets for Home Appliances
        </h4>
      </div>
      <div class="pd-l-1">
        <span class="rating-stars">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
        <span class="rating-details">
          <i class="fa-solid fa-chevron-down"></i>
        </span>
        <span class="review-number">
          <a href="" class="anchor-tag">12,215</a>
        </span>
      </div>
      <div class="pd-1">
        <div class="inline">
          <sup>₹</sup><span class="text-xxl">449</span>
        </div>
        <div class="inline">
          <span class="text-sm">M.R.P: <s>₹650</s></span>
        </div>
        <div class="inline">
          <span class="text-md">(31% off)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="image-box">
      <img src="./../../assets/arduino.png" alt="Mouse"/>
    </div>
    <div class="content-box">
      <div class="product-name">
        <h4 class="pd-1" onclick="window.location.href='#'">
          Arduino Uno REV3 [A000066]
        <br><br><br><br></h4>
      </div>
      <div class="pd-l-1">
        <span class="rating-stars">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
        <span class="rating-details">
          <i class="fa-solid fa-chevron-down"></i>
        </span>
        <span class="review-number">
          <a href="" class="anchor-tag">12,215</a>
        </span>
      </div>
      <div class="pd-1">
        <div class="inline">
          <sup>£</sup><span class="text-xxl">25.06</span>
        </div>
        <div class="inline">
          <span class="text-sm">R.R.P: <s>£25.96</s></span>
        </div>
        <div class="inline">
          <span class="text-md">(3% off)</span>
        </div>
      </div>
    </div>
