
<div class="member-det">
    <div class="member-det-head">
      <h3>Travellers Details</h3>
    </div>
    <div class="members-form">
      
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="trip.name" required/>
        <label for="mem-type">Member Type</label>
        <input type="text" id="mem-type" name="mem-type" class="form-control" [(ngModel)]="trip.memtype" required/>
        <label for="age">Age</label>
        <input type="text" id="age" name="age" class="form-control" [(ngModel)]="trip.age" required/>
        <button (click) = addComponent()><span class="material-symbols-outlined">
          add
          </span></button>
          
 
</div>
  </div>
  <div *ngFor="let component of components; let i = index">
    <app-childmembers (remove)="removeComponent(i)"></app-childmembers>
</div>
